<form [formGroup]="productForm" (ngSubmit)="save()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Flags - Sheldon Cooper">
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="number" class="form-control" formControlName="quantity" placeholder="0">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" formControlName="price" placeholder="0.00">
  </div>
  <button type="submit" class="btn btn-primary mr-2">Save</button>
  <button type="button" [routerLink]="'/product'" class="btn btn-secondary">Back</button>
</form>
