<div class="container">
  <div class="row">
    <div class="col-12 col-md-10">
      <h1>Hello!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
      <h2>Hulk Store</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit facilisis ante vivamus blandit tortor, sed et rutrum
        lacus nostra sagittis himenaeos nam augue massa nascetur. Nibh fermentum litora sem in aenean tortor rhoncus
        vestibulum curabitur erat, venenatis laoreet congue proin inceptos commodo integer blandit mauris, sodales eget
        augue scelerisque nunc vehicula massa maecenas aptent. Litora a dignissim auctor platea nostra dui mus nibh
        imperdiet, lobortis ullamcorper est libero erat suscipit nisi curabitur condimentum, suspendisse porttitor
        sapien montes magnis ac at tortor.</p>
    </div>
  </div>
</div>
