<form [formGroup]="marketForm" (ngSubmit)="save()">
  <div class="form-group">
    <label>Employee</label>
    <select class="form-control" formControlName="user" [compareWith]="equals">
      <option *ngFor="let user of users" [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Products</label>
    <select class="form-control" formControlName="product">
      <option *ngFor="let product of products" [ngValue]="product">{{product.name}} - ${{product.price}}</option>
    </select>
    <button type="button" class="btn btn-outline-success btn-sm mt-2" (click)="addProduct()">Add to cart</button>
  </div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody formArrayName="products">
      <tr *ngFor="let productForm of getFormProducts(); let i=index" [formGroupName]="i">
        <th scope="row">
          <input type="text" readonly class="form-control-plaintext" formControlName="id" placeholder="0.00">
        </th>
        <td>
          <input type="text" readonly class="form-control-plaintext" formControlName="name" placeholder="0.00">
        </td>
        <td>
          <input type="text" class="form-control" formControlName="quantity" placeholder="0.00">
        </td>
        <td>
          <input type="text" readonly class="form-control-plaintext" formControlName="price" placeholder="0.00">
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3" scope="col"></th>
        <th scope="col">Total {{getTotal()}}</th>
      </tr>
    </tfoot>
  </table>
  <div class="text-right">
    <button type="submit" class="btn btn-primary mr-2">Save</button>
    <button type="button" [routerLink]="'/market'" class="btn btn-secondary">Back</button>
  </div>
</form>
